body{
    background: #0a0735;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    cursor: pointer;
}
.menu__hero{
    display: flex;
    align-items: center;
}
.navbar{
    list-style: none;
    margin: 0 10px 0 10px;
    padding: 13px 10px;
    border-radius: 7px;
    transition: .5s, color .10s;
}
.navbar:hover{
    background: #ee0ba2;
    font-weight: 900;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    transform: scale3d(1.2, 1.2, .3);
}
.active{
    background: #ee0ba2;
    font-weight: 900;
    border-radius: 7px;
}
.main__content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 50px;
}
.text__content .text{
    text-transform: uppercase;
    color: #ee0ba2;
}
.text__content input{
    width: 428px;
    height: 50px;
    padding: 0 0 0 10px;
    outline: none;
    border: 0;
    border-radius: 10px;
    margin: 20px 0 0 0;
    box-shadow: #fff 0 1px 25px 1px;
}
.text__content label{
    position: absolute;
    left: 31%;
    text-transform: uppercase;
    font-weight: 900;
    background: #06eea8;
    margin: 25px 0 0 0;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}
.text__content label:hover{
    background: #ee0ba2;
}
.social__media #icon{
    display: inline-block;
    font-size: 35px;
    padding: 30px 6px 30px 0;
    cursor: pointer;
}
.ri-facebook-circle-fill{
    color: #2087db;
}
.ri-instagram-line{
    color: #ee11d0;
}
.ri-youtube-fill{
    color: #ec0a0a;
}
.ri-whatsapp-fill{
    color: #0ce20c;
}
.image__content{
    width: 410px;
    margin: 0 0 0 60px;
}
.image__content img{
    width: 100%;
}