*{
    box-sizing: border-box;
}
body{
    height: 95vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1,
p,
.form-container a{
    color: #fff;
}
.open-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    position: fixed;
    bottom: 23px;
    right: 28px;
    font-size: 13px;
    color: #fff;
    background-color: red;
    border: none;
    cursor: pointer;
}
.open-button i{
    font-size: 30px;
    margin: 0 10px 0 0;
}
.form-emergent{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
}
.form-container{
    max-width: 300px;
    padding: 10px;
    background-color: rgb(16, 123, 150);
}
.form-container input[type=text],
.form-container input[type=password]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 2px 0;
    border: none;
    background-color: #f1f1f1;
    border-radius: 6px;
}
.form-container input[type=text]:focus,
.form-container input[type=password]:focus{
    background-color: #ddd;
    outline: none;
}
.form-container .btn{
    width: 100%;
    padding: 16px 20px;
    margin: 10px 0 10px 0;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #000;
}
.form-container .cancel{
    background-color: red;
}