body{
    background-color: rgb(16, 9, 82);
}
.container{
    width: 300px;
    height: 500px;
    margin: 35px auto;
    border-radius: 30px;
    background-color: #fff;
}
.item-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}
.top-left-logo{
    width: 100px;
    margin: 10px;
}
.top-left-logo img{
    width: 100%;
}
.top-right-cart i{
    font-size: 22px;
    margin: 20px;
}
.main-item img{
    width: 80%;
}
.product{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: #000;
}
.main-item h2{
    margin: 8px 0 0 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}
.main-item p{
    margin: 3px 15px 0 12px;
    text-align: justify;
}
.valoration{
    margin: 5px 0 0 -30px;
}
.valoration i{
    color: rgb(209, 151, 3);
}
.price{
    text-align: center;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.btn{
    border: none;
    margin: 0 0 0 55px;
    width: 200px;
    padding: 7px 0 7px 0;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    background-color: rgb(59, 5, 110);
}
.btn:hover{
    color: #000;
    font-weight: lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(226, 212, 7);
}