*{
    box-sizing: border-box;
}
body{
    margin: 0 40px 0 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #021122;
    color: #fff;
}
.header__web{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__menu{
    display: flex;
    list-style: none;
}
.nav__menu .list-menu{
    margin: 0 0 0 40px;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
}
.nav__menu a:hover{
    background-color: #ac0545;
    transition: all .4s ease-in-out;
}
.main__figure{
    margin-top: 60px;
    width: 500px;
}
.main__figure img{
    width: 100%;
}
.open__button{
    width: 280px;
    padding: 16px 20px;
    position: fixed;
    bottom: 23px;
    right: 28px;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    background-color: #e40404;
}
.open__button i{
    display: inline-flex;
    margin-right: 5px;
}
.chat__popup{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
}
.form__container{
    max-width: 300px;
    padding: 10px;
    font-size: .8rem;
    color: #000;
    background-color: #fff;
}
.form__container textarea{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #e7e1e1;
    resize: none;
    min-height: 200px;
}
.form__container h2{
    font-size: 1.5rem;
    font-weight: 700;
}
.form__container textarea:focus{
    background-color: #cecbcb;
    outline: none;
}
.form__container .btn{
    width: 100%;
    padding: 16px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    background-color: #04aa0c;
}
.form__container .btn:hover{
    text-decoration: underline;
    opacity: .8;
}
.form__container .cancel{
    background-color: #e40404;
}