*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e6e335;
}
ul{
    position: relative;
    display: flex;
    transform: rotate(-25deg) skew(25deg);
    transform-style: preserve-3d;
}
ul li{
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 20px;
}
ul li:before{
    content: "";
    position: absolute;
    bottom: -10px;
    left: -5px;
    width: 100%;
    height: 10px;
    background: #0e0505;
    transform: skewX(-45deg);
}
ul li:after{
    content: "";
    position: absolute;
    top: 5px;
    left: -9px;
    width: 9px;
    height: 100%;
    background: #0e0505;
    transform: skewY(-49deg);
}
ul li span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    background: #696460;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    transition: 1.5s ease-out;
}
ul li:hover span{
    z-index: 1000;
    transition: .3s;
    color: #fff;
}
ul li:hover span:nth-child(5){
    transform: translate(40px, -40px);
    opacity: 1;
}
ul li:hover span:nth-child(4){
    transform: translate(30px, -30px);
    opacity: .8;
}
ul li:hover span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: .6;
}
ul li:hover span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: .4;
}
ul li:hover span:nth-child(1){
    transform: translate(0, 0);
    opacity: .2;
}
ul li:nth-child(1):hover span{
    background: #0d066b;
}
ul li:nth-child(2):hover span{
    background: #06aecc;
}
ul li:nth-child(3):hover span{
    background: #b6073e;
}
ul li:nth-child(4):hover span{
    background: #0459bb;
}
ul li:nth-child(5):hover span{
    background: #bb0404;
}
